.vercel
venv/
InstaLoaderApp/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.pytest_cache/
.coverage
htmlcov/
api/__pycache__/
api/index.cpython-*
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv/
venv.bak/
ENV.bak/
.installed.cfg
.pytest_cache/
.coverage
htmlcov/
nicobattaglia.33/
